@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Servidor com problemas";
}

<hgroup class="title">
    <h1 class="error">Servidor com problemas.</h1>
    <h2 class="error">
        Houve um problema em nosso servidor. <br />
        Por favor tente novamente dentro de alguns instantes.
    </h2>
    <h2>Detalhes do erro: @ViewBag.DetalhesErro</h2>
</hgroup>

