@{
    ViewBag.Title = "Sobre o SIGESF";
}
<h2>@ViewBag.Title.</h2>

    <p>O SIGESF - Sistema de Gestão de Suprimento de Fundos é uma solução para otimizar o Processo Suprimento de Fundos no âmbito do TRT da 23ª Região.</p>


